PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

DB_USER=postgres          # change if their PostgreSQL username is different
DB_HOST=localhost
DB_NAME=music_library     # must match the name of the created database
DB_PASSWORD=YOUR_PASSWORD # change to their own PostgreSQL password here for the grader
DB_PORT=5432

JWT_SECRET=any_random_string
SESSION_SECRET=any_random_string
